<%# locals: (image: nil, link: nil, css_variables: nil, theme: nil) -%>

<%= erbvc_html(theme: theme, css_vars: css_variables) do %>
  <div>
    <a href="#">
      <div>
        <img src="https://www.polestar.com/dato-assets/11286/1674207785-01-2-polestar-home-handoff-section-m-3x.jpg?w=620">
      </div>

      <div>
        <div>
          <h3>At home test drive</h3>
          <p>We'll bring the experience, and the car, to you</p>
        </div>
      </div>
    </a>
  </div>
<% end %>

<% erbvc_css do %>
  <style>
    <%= erbvc_container_class %> {
      container: <%= erbvc_id %> / inline-size;

      --color: black;
      --background-color: white;

      background-color: var(--background-color);

      > div > a {
        text-decoration: none;
        color: var(--color);
        display: flex;

        &:hover img {
          scale: 1.03;
        }

        > div:nth-child(1) {
          display: flex;
          width: 33%;
          max-width: max-content;
          min-width: 150px;
          overflow: hidden;

          & img {
            width: 100%;
            font-weight: lighter;
            max-width: 100%;
            transition-duration: 500ms;
          }
        }

        > div:nth-child(2) {
          padding-inline-start: 1em;
          flex: 1;

          & h3 {
            font-size: 1.875rem;
            margin-block-start: 0;
            margin-block-end: 0;
          }
        }
      }
    }

    @container <%= erbvc_id %> (width <= 620px) {
      <%= erbvc_container_class %> > div > a {
        display: block;

        > div:nth-child(1) {
          width: 100%;
        }

        > div:nth-child(2) {
          padding-inline-start: 0;
        }
      }
    }
  </style>
<% end %>
